<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422313114518-m9ekl22rvha0fttaft6a4324svu7r3s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422313114518-m9ekl22rvha0fttaft6a4324svu7r3s2</string>
	<key>API_KEY</key>
	<string>AIzaSyAcpF-hlk4h73NjB1rTq9G3JoJShhKkvBg</string>
	<key>GCM_SENDER_ID</key>
	<string>422313114518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keeganpangowish.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-learning-app-8c9e0</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-learning-app-8c9e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422313114518:ios:410a9c498d816ec5a3fbb7</string>
</dict>
</plist>